{% extends 'dashboard.html' %}
{% block title %} <title>Add Notes</title> {% endblock %}
{% block addcss %} <link rel="stylesheet" href="{{ url_for('static', filename='addnotes.css') }}">{% endblock %}

{% block content %}
    <div class="container">
        <h2>Add New Note</h2>

        <form method="POST">
            <label>Title</label>
            <input type="text" name="title" placeholder="Enter note title" required>

            <label>Content</label>
            <textarea name="content" placeholder="Write your note here..." required></textarea>

            <button type="submit">Submit Note</button>
        </form>
    </div>
{% endblock %}
