{% extends 'dashboard.html' %}

{% block title %}
<title>Upload File</title>
{% endblock %}

{% block addcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='uploadfile.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload New File</h2>

    <!-- IMPORTANT: enctype required for file upload -->
    <form method="POST" enctype="multipart/form-data">
        
        <label>File Title</label>
        <input type="text" name="file_title" placeholder="Enter file title" required>

        <label>Select File</label>
        <input type="file" name="file" required>

        <button type="submit">Upload File</button>
    </form>
</div>
{% endblock %}
