{% extends 'dashboard.html' %}

{% block title %}
<title>View All Files</title>
{% endblock %}

{% block addcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='viewallnotes.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <h2>All Files</h2>
    
    {% if files %}
    <table class="notes-table">
        <thead>
            <tr>
                <th>File ID</th>
                <th>Filename</th>
                <th>Created At</th>
                <th>View</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for f in files %}
            <tr>
                <td>{{ f[0] }}</td>
                <td>{{ f[1] }}</td>
                <td>{{ f[2] }}</td>
                <td><a href="{{url_for('viewfile',fid=f[0])}}">View</a></td>
                <td><a href="{{url_for('downloadfile',fid=f[0])}}">Download</a></td>
                <td><a href="{{url_for('deletefile',fid=f[0])}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No notes available.</p>
    {% endif %}
</div>

{% endblock %}
